.pair {
    display: flex;
    align-items: center;
}

.pair__number {
    padding: var(--padding-small) var(--padding-medium);
    color: var(--light);
}
.pair__product {
    color: var(--main-color);
    background-color: var(--light);
    border: none;
    padding: var(--padding-small) var(--padding-medium);
}

.pageButton {
    width: 180px;
    height: 50px;
    background-color: var(--second-color);
    color: var(--light);
    border: none;
    border-radius: var(--button-corners);
    font-size: 1.2em;
    margin: var(--margin-large) var(--margin-small);
}

.banner--previousTests {
    margin: var(--margin-large)
}

.inputError {
    display: none;
    font-size: 0.8em;
    color: red;
    border: 1px solid red;
    padding: 0.2% var(--padding-medium);
    margin: var(--margin-small);
}

@media screen and (max-width: 800px) {
    .pageButton {
        width: 230px;
        height: 60px;   
    }
}

